.swiper {
  width: 100%;
  height: 100%;
}
.swiper-rtl .swiper-button-next:after {
  content: "prev";
  color: #8d3fd0;
}
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  color: #8d3fd0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(253, 253, 253);
  border-radius: 15px;
  height: 350px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 200px;
  object-fit: cover;
}
.SwiperProductSlide {
    user-select: none;
}
.SwiperProductSlide p {
  font-family: "IRYekan";
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
}

.SliderBox {
  background: #5db0e7;
  height: 400px;
}
.swiper-rtl .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  background: blanchedalmond;
  width: 50px;
  height: 57px;
  border-radius: 12px;
}
.SwiperTitle {
  background: none;
}
.SwiperTitle h2 {
  color: #fff;
  font-size: 38px;
}
.SwiperTitle .btnSliderTitle img {
  width: 150px;
  height: auto;
}
.SwiperTitle .btnSliderTitle a {
  font-family: "IRYekan";
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-top: 30px;
}
.swiper-button-disabled {
  display: none !important;
}
.priceOrginal{
    text-decoration: line-through;
    color: #e2e2e2;
    margin-top: 5px !important;
    margin-bottom: 0px !important;
}
.priceOffer{
    font-size: 20px !important;
    margin-top: 5px !important;
    margin-bottom: 0px !important;
}
.lds-roller {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    transform: translateY(-210px);
    left: 35%;
    z-index: 9999;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
   
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  